doctype html
html
  head
    title Основа-Маркет 2
    
    meta(charset = "utf-8")
    
    link(rel = "stylesheet", href="css/style.min.css")
    
    script(src = "js/jquery-3.1.0.min.js")
    script(src = "js/owl.carousel.min.js")
    script(src = "js/main.min.js")
    
    
  body
    include ./includes/header.jade
   
    .all-wrapped
      div.wrap(style = "z-index: -9999")

        div.col-md-12(style = "margin-top: 35px margin-bottom: 90px")
          div.news-e
            h4 
              strong О компании
              h6 
              p.show-grid.clearfix  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quod aperiam corporis facilis odit, ratione architecto natus maxime nisi iusto voluptates aspernatur accusamus enim id laudantium, fugit, modi accusantium ullam totam, eos aut rerum nesciunt! Consectetur tempora eius ex exercitationem quis. Suscipit iure obcaecati ab dolore incidunt consequuntur soluta doloremque, dolores numquam nulla possimus unde illum dolor velit inventore molestiae culpa eos cumque minima sint veritatis perspiciatis similique! Ratione, id explicabo eum officiis sit animi at, aut similique dolore eius adipisci deleniti eveniet fuga ut, odio laborum? Illo quis odio ut nemo modi maxime, quae repudiandae esse asperiores, neque, ea!
              p.show-grid.clearfix  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quis molestias rem quos, numquam deleniti alias nostrum iusto ducimus minus maiores deserunt accusamus perspiciatis officia eius necessitatibus accusantium harum aspernatur possimus sapiente voluptatibus animi dolorum perferendis. Sint quibusdam ipsam aspernatur rerum velit architecto similique sapiente repellat eum, quisquam necessitatibus unde, illo. Architecto iste obcaecati sapiente! Quidem saepe explicabo fuga dignissimos itaque earum culpa expedita pariatur! Ratione, consequatur! Aliquid, temporibus, pariatur.
            div.clearfix

            
        
      include ./includes/footer.jade
