extends includes/layout.jade

block content
  .container
    .row 
      -'use strict';
      - var arr = []
      - for (var i=0; i < 12;i++) { arr.push('')}
      each name in arr
        .col-sm-3.col-md-3
          .thumbnail
            //- img.img-responsive(src="http://placehold.it/400x300", alt="product.title")
            .caption.clearfix
              img.img-responsive(src="http://placehold.it/400x300", alt="product.title")
              h4 
                strong 
                  a(href="acii_open.html") Заголовок акции
              h6 Дата публикации: 1.01.02
              p.show-grid.clearfix  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, ex, alias! Voluptate, ipsa laboriosam ex illum saepe ducimus aperiam possimus excepturi, nihil atque dolorem molestiae aspernatur debitis, beatae! Veritatis, mollitia. 
              .pull-left
                a.btn.btn-default(href="acii_open.html") Читать далее
    .row
        .nav.text-center
          .pagination
            li
              a(href="")
                span(aria-hidden="true") &laquo;
            li
              a(href="") 1
            li
              a(href="") 2
            li
              a(href="") 3
            li
              a(href="") 4
            li
              a(href="") 
                span(aria-hidden="true") &raquo;