extends includes/layout.jade

block content
  .container
    
    .col-md-12
      .row.super-row
        div.jumbotron
          h1
            | Спасибо за Ваш заказ!
          p 
            | В течении некоторого времени с Вми свяжется наш менеджер для уточнения подробностей
          a(href="index.html")
            button.btn.btn-primary
              | Вернуться На главную
            
            
              
      

