extends includes/layout.jade

block content
  .container
    .row 
      -'use strict';
      - var arr = []
      - for (var i=0; i < 12;i++) { arr.push('')}
      each name in arr
        .col-sm-3.col-md-3
          .thumbnail
            //- img.img-responsive(src="http://placehold.it/400x300", alt="product.title")
            .caption.clearfix
              img.img-responsive(src="http://placehold.it/400x300", alt="product.title")
              h4 
                strong 
                  a(href="pdf/demo.pdf") Название сертификата
              p.show-grid.clearfix 
              .pull-left
                h6 Размер: 15мб
              .pull-right
                a.btn.btn-default(href="pdf/demo.pdf") Загрузить
    