div.call#formOpen
  div.call-button
    i.fa.fa-phone
  div.call-desc
    p Заказать обратный звонок
    
    
    
div.call-wrapper._display-none#formID
  div.call-forms
    div.row
      h3 Оставьте Ваши контактные данные и вам перезвонят
    div.row._margin-top-double
      input(placeholder = 'Ваше имя')
      input(placeholder = 'Номер телефона')
    div.row._margin-top-double
      col-md-6
        a#formOpen(href="#") Спасибо,не надо
      col-md-6
        button.btn.btn-default._float-right Отправить
