doctype html
html
  head
    title Основа-Маркет
    
    meta(charset = "utf-8")
    
    link(rel="stylesheet", href="css/style.min.css")
    
    script(src = "js/jquery-3.1.0.min.js")
    script(src = "js/owl.carousel.min.js")
    script(src="js/main.min.js")
    
    
  body
    include header.jade
    include call.jade
    block content
    include footer.jade